---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import HomeExperience from "../experiences/HomeExperience";
---

<BaseLayout>
  <HomeExperience client:load />

  <header>
    <Navbar />

    <main></main>
  </header>
</BaseLayout>
