---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
---

<BaseLayout>
  <Navbar />

  <main class="container mx-auto my-28">
    <h1 class="text-4xl font-cormorant-garamond font-bold">
      I am a representation of Cormorant Garamond in bold
    </h1>
    <h1 class="text-4xl font-cormorant-garamond">
      I am a representation of Cormorant Garamond in normal
    </h1>

    <p class="font-inter my-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
      praesentium ex corrupti fuga inventore! Placeat impedit optio officia
      praesentium beatae, labore consequatur atque nulla molestias earum at in
      modi tenetur eaque similique, error ratione vitae voluptatibus ipsam
      pariatur odio. Harum numquam deserunt, debitis perspiciatis saepe corporis
      vel, quasi similique doloribus obcaecati blanditiis aspernatur cupiditate
      sequi ullam unde enim soluta sunt accusamus quia ea voluptatum voluptas
      illum. Eligendi quae repellendus at hic eos adipisci, amet neque
      reiciendis voluptatum earum maxime autem similique ducimus, mollitia sunt
      quos ut perferendis, veritatis a dolores delectus necessitatibus? Vel
      accusantium nam, eligendi harum, odio odit sunt sint voluptates inventore
      commodi dolorum. Magnam, laudantium ducimus dicta harum debitis
      necessitatibus consectetur suscipit id odit voluptatum aut sint quaerat?
      Qui obcaecati corporis totam nostrum animi placeat! Veritatis doloribus
      doloremque, in perferendis facere dignissimos. Autem rerum quisquam dolor,
      expedita quaerat eius perspiciatis modi dolorum ipsa. Neque, tenetur. Ea
      facere eaque est non officiis, at optio quis iusto debitis temporibus
      molestias enim reprehenderit alias doloribus ad nulla laboriosam illo?
      Consequatur eius illum suscipit tempore neque sed earum et? Architecto ea
      maiores, aperiam ut dolores facere molestiae voluptatum sapiente delectus
      porro nisi iure optio doloremque sit tempora provident nobis corrupti
      veritatis laudantium incidunt accusantium deleniti! Cum, inventore! At
      praesentium assumenda illum sed numquam eius quas, sapiente cupiditate
      quis harum. Adipisci sint ipsam accusamus aspernatur soluta, animi
      consectetur id perspiciatis cumque tempora et quos nulla quam accusantium
      quasi aliquam delectus odit perferendis dolorem! Debitis officia esse
      minus consectetur corporis sint, a asperiores explicabo maiores sapiente
      ut dolorem ipsum eaque voluptatum necessitatibus repudiandae deleniti?
      Magni quasi vel quia laboriosam est voluptates deleniti aspernatur, quis
      tempore tenetur quaerat repellat commodi veniam eveniet deserunt eaque
      mollitia impedit veritatis. Error consequuntur culpa provident ducimus
      earum voluptatum quod quo ut maxime reprehenderit, assumenda voluptate
      animi ipsam ab dolore autem quis blanditiis at rerum itaque tempora!
      Recusandae voluptas velit officia incidunt, expedita ea consequatur
      mollitia inventore reiciendis accusamus explicabo vitae excepturi cum
      ipsum nemo in cumque. Veniam facere at quia tenetur quaerat voluptas
      quidem commodi, architecto voluptatem adipisci provident aperiam itaque
      perferendis, voluptatibus beatae laborum eligendi consectetur sequi,
      inventore vitae ut accusantium! Incidunt explicabo natus sed modi officiis
      voluptatibus assumenda, neque enim illo ad suscipit voluptatum soluta
      veritatis veniam debitis minima corporis architecto saepe exercitationem
      reprehenderit aut aliquam! Delectus beatae porro illo deleniti voluptate
      odio adipisci vero, sequi ea soluta laudantium dolore quae quas placeat
      blanditiis non at cupiditate, dolor minima harum incidunt nobis magnam
      accusantium? Veniam amet quos dolorum quisquam, veritatis cum ducimus
      possimus sequi facilis accusamus hic distinctio esse est et laborum saepe,
      tempore laudantium soluta nostrum velit perspiciatis? Eaque quia nobis,
      quam libero dignissimos ullam! Labore illo molestiae necessitatibus qui
      nemo odio provident dolore odit at consectetur maxime eligendi dolores
      debitis, assumenda, illum veniam reprehenderit libero magnam in, impedit
      aperiam amet cumque iste? Iusto odit provident ipsa ipsam temporibus animi
      unde maxime enim, suscipit dolores culpa, exercitationem quo dignissimos
      laudantium inventore reprehenderit? Voluptatem soluta ullam esse,
      provident dolorem asperiores fuga doloremque in quia eaque cupiditate
      nemo?
    </p>

    <h1 class="text-4xl font-playfair-display font-bold">
      I am a representation of Playfair Display in bold
    </h1>
    <h1 class="text-4xl font-playfair-display">
      I am a representation of Playfair Display in normal
    </h1>

    <p class="font-inter my-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
      praesentium ex corrupti fuga inventore! Placeat impedit optio officia
      praesentium beatae, labore consequatur atque nulla molestias earum at in
      modi tenetur eaque similique, error ratione vitae voluptatibus ipsam
      pariatur odio. Harum numquam deserunt, debitis perspiciatis saepe corporis
      vel, quasi similique doloribus obcaecati blanditiis aspernatur cupiditate
      sequi ullam unde enim soluta sunt accusamus quia ea voluptatum voluptas
      illum. Eligendi quae repellendus at hic eos adipisci, amet neque
      reiciendis voluptatum earum maxime autem similique ducimus, mollitia sunt
      quos ut perferendis, veritatis a dolores delectus necessitatibus? Vel
      accusantium nam, eligendi harum, odio odit sunt sint voluptates inventore
      commodi dolorum. Magnam, laudantium ducimus dicta harum debitis
      necessitatibus consectetur suscipit id odit voluptatum aut sint quaerat?
      Qui obcaecati corporis totam nostrum animi placeat! Veritatis doloribus
      doloremque, in perferendis facere dignissimos. Autem rerum quisquam dolor,
      expedita quaerat eius perspiciatis modi dolorum ipsa. Neque, tenetur. Ea
      facere eaque est non officiis, at optio quis iusto debitis temporibus
      molestias enim reprehenderit alias doloribus ad nulla laboriosam illo?
      Consequatur eius illum suscipit tempore neque sed earum et? Architecto ea
      maiores, aperiam ut dolores facere molestiae voluptatum sapiente delectus
      porro nisi iure optio doloremque sit tempora provident nobis corrupti
      veritatis laudantium incidunt accusantium deleniti! Cum, inventore! At
      praesentium assumenda illum sed numquam eius quas, sapiente cupiditate
      quis harum. Adipisci sint ipsam accusamus aspernatur soluta, animi
      consectetur id perspiciatis cumque tempora et quos nulla quam accusantium
      quasi aliquam delectus odit perferendis dolorem! Debitis officia esse
      minus consectetur corporis sint, a asperiores explicabo maiores sapiente
      ut dolorem ipsum eaque voluptatum necessitatibus repudiandae deleniti?
      Magni quasi vel quia laboriosam est voluptates deleniti aspernatur, quis
      tempore tenetur quaerat repellat commodi veniam eveniet deserunt eaque
      mollitia impedit veritatis. Error consequuntur culpa provident ducimus
      earum voluptatum quod quo ut maxime reprehenderit, assumenda voluptate
      animi ipsam ab dolore autem quis blanditiis at rerum itaque tempora!
      Recusandae voluptas velit officia incidunt, expedita ea consequatur
      mollitia inventore reiciendis accusamus explicabo vitae excepturi cum
      ipsum nemo in cumque. Veniam facere at quia tenetur quaerat voluptas
      quidem commodi, architecto voluptatem adipisci provident aperiam itaque
      perferendis, voluptatibus beatae laborum eligendi consectetur sequi,
      inventore vitae ut accusantium! Incidunt explicabo natus sed modi officiis
      voluptatibus assumenda, neque enim illo ad suscipit voluptatum soluta
      veritatis veniam debitis minima corporis architecto saepe exercitationem
      reprehenderit aut aliquam! Delectus beatae porro illo deleniti voluptate
      odio adipisci vero, sequi ea soluta laudantium dolore quae quas placeat
      blanditiis non at cupiditate, dolor minima harum incidunt nobis magnam
      accusantium? Veniam amet quos dolorum quisquam, veritatis cum ducimus
      possimus sequi facilis accusamus hic distinctio esse est et laborum saepe,
      tempore laudantium soluta nostrum velit perspiciatis? Eaque quia nobis,
      quam libero dignissimos ullam! Labore illo molestiae necessitatibus qui
      nemo odio provident dolore odit at consectetur maxime eligendi dolores
      debitis, assumenda, illum veniam reprehenderit libero magnam in, impedit
      aperiam amet cumque iste? Iusto odit provident ipsa ipsam temporibus animi
      unde maxime enim, suscipit dolores culpa, exercitationem quo dignissimos
      laudantium inventore reprehenderit? Voluptatem soluta ullam esse,
      provident dolorem asperiores fuga doloremque in quia eaque cupiditate
      nemo?
    </p>

    <h1 class="text-4xl font-crimson-pro font-bold">
      I am a representation of Crimson Pro in bold
    </h1>
    <h1 class="text-4xl font-crimson-pro">
      I am a representation of Crimson Pro in normal
    </h1>

    <p class="font-inter my-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
      praesentium ex corrupti fuga inventore! Placeat impedit optio officia
      praesentium beatae, labore consequatur atque nulla molestias earum at in
      modi tenetur eaque similique, error ratione vitae voluptatibus ipsam
      pariatur odio. Harum numquam deserunt, debitis perspiciatis saepe corporis
      vel, quasi similique doloribus obcaecati blanditiis aspernatur cupiditate
      sequi ullam unde enim soluta sunt accusamus quia ea voluptatum voluptas
      illum. Eligendi quae repellendus at hic eos adipisci, amet neque
      reiciendis voluptatum earum maxime autem similique ducimus, mollitia sunt
      quos ut perferendis, veritatis a dolores delectus necessitatibus? Vel
      accusantium nam, eligendi harum, odio odit sunt sint voluptates inventore
      commodi dolorum. Magnam, laudantium ducimus dicta harum debitis
      necessitatibus consectetur suscipit id odit voluptatum aut sint quaerat?
      Qui obcaecati corporis totam nostrum animi placeat! Veritatis doloribus
      doloremque, in perferendis facere dignissimos. Autem rerum quisquam dolor,
      expedita quaerat eius perspiciatis modi dolorum ipsa. Neque, tenetur. Ea
      facere eaque est non officiis, at optio quis iusto debitis temporibus
      molestias enim reprehenderit alias doloribus ad nulla laboriosam illo?
      Consequatur eius illum suscipit tempore neque sed earum et? Architecto ea
      maiores, aperiam ut dolores facere molestiae voluptatum sapiente delectus
      porro nisi iure optio doloremque sit tempora provident nobis corrupti
      veritatis laudantium incidunt accusantium deleniti! Cum, inventore! At
      praesentium assumenda illum sed numquam eius quas, sapiente cupiditate
      quis harum. Adipisci sint ipsam accusamus aspernatur soluta, animi
      consectetur id perspiciatis cumque tempora et quos nulla quam accusantium
      quasi aliquam delectus odit perferendis dolorem! Debitis officia esse
      minus consectetur corporis sint, a asperiores explicabo maiores sapiente
      ut dolorem ipsum eaque voluptatum necessitatibus repudiandae deleniti?
      Magni quasi vel quia laboriosam est voluptates deleniti aspernatur, quis
      tempore tenetur quaerat repellat commodi veniam eveniet deserunt eaque
      mollitia impedit veritatis. Error consequuntur culpa provident ducimus
      earum voluptatum quod quo ut maxime reprehenderit, assumenda voluptate
      animi ipsam ab dolore autem quis blanditiis at rerum itaque tempora!
      Recusandae voluptas velit officia incidunt, expedita ea consequatur
      mollitia inventore reiciendis accusamus explicabo vitae excepturi cum
      ipsum nemo in cumque. Veniam facere at quia tenetur quaerat voluptas
      quidem commodi, architecto voluptatem adipisci provident aperiam itaque
      perferendis, voluptatibus beatae laborum eligendi consectetur sequi,
      inventore vitae ut accusantium! Incidunt explicabo natus sed modi officiis
      voluptatibus assumenda, neque enim illo ad suscipit voluptatum soluta
      veritatis veniam debitis minima corporis architecto saepe exercitationem
      reprehenderit aut aliquam! Delectus beatae porro illo deleniti voluptate
      odio adipisci vero, sequi ea soluta laudantium dolore quae quas placeat
      blanditiis non at cupiditate, dolor minima harum incidunt nobis magnam
      accusantium? Veniam amet quos dolorum quisquam, veritatis cum ducimus
      possimus sequi facilis accusamus hic distinctio esse est et laborum saepe,
      tempore laudantium soluta nostrum velit perspiciatis? Eaque quia nobis,
      quam libero dignissimos ullam! Labore illo molestiae necessitatibus qui
      nemo odio provident dolore odit at consectetur maxime eligendi dolores
      debitis, assumenda, illum veniam reprehenderit libero magnam in, impedit
      aperiam amet cumque iste? Iusto odit provident ipsa ipsam temporibus animi
      unde maxime enim, suscipit dolores culpa, exercitationem quo dignissimos
      laudantium inventore reprehenderit? Voluptatem soluta ullam esse,
      provident dolorem asperiores fuga doloremque in quia eaque cupiditate
      nemo?
    </p>
  </main>
</BaseLayout>
