---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import HomeExperience from "../experiences/HomeExperience";
---

<BaseLayout>
  <HomeExperience client:load />

  <header class="h-screen p-10 container mx-auto">
    <Navbar />

    <main class="w-[70%] text-shadow-lg/100">
      <h1 class="mt-32 text-6xl font-extrabold">
        Your products deserve more than flat images.
      </h1>
      <h2 class="mt-5 text-3xl font-semibold">
        We build immersive 3D experiences that make customers linger.
      </h2>

      <p class="mt-24 text-xl">
        We help ecommerce brands stand out with cinematic 3D, interactive
        product pages, and high-performance web experiences.
      </p>
    </main>
  </header>
</BaseLayout>
